.editor-toolbar {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}
.editor-content {
    outline: none;
    width: 100%;
    box-sizing: border-box;
}
.markdown-body h1,
.markdown-body h2 {
    border-bottom: none;
    padding: 0;
}
.markdown-body ol > li:not(:last-child),
.markdown-body ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
    margin-bottom: 0.5rem;
}
.markdown-body ol p,
.markdown-body ul p {
    margin-bottom: 0.5rem;
}
.markdown-body [data-contrast-text] {
    color: #1a202c;
}
strong {
    font-weight: 600;
}
.markdown-body h1,
.markdown-body h2,
.markdown-body h3 {
    font-weight: 600;
    margin-bottom: 0.5rem;
    border-color: var(--theme-sidebar-separator-color-background);
    border-style: solid;
    border-bottom-width: 1px;
    padding-bottom: 16px;
}
.markdown-body h1 {
    font-size: 1.5rem;
}
@media (min-width: 640px) {
    .markdown-body h1 {
        font-size: 2rem;
    }
}
.markdown-body h2 {
    font-size: 1.25rem;
}
@media (min-width: 640px) {
    .markdown-body h2 {
        font-size: 1.5rem;
    }
}
.markdown-body h3 {
    font-size: 1.125rem;
}
@media (min-width: 640px) {
    .markdown-body h3 {
        font-size: 1.25rem;
    }
}
.markdown-body p {
    font-size: 0.875rem;
    margin-bottom: 1.25rem;
}
@media (min-width: 640px) {
    .markdown-body p {
        font-size: 1rem;
    }
}
.markdown-body p:last-child {
    margin-bottom: 0;
}
.markdown-body a {
    color: #307df0;
    font-weight: 600;
}
.markdown-body a:hover {
    text-decoration: underline;
}
.markdown-body h1 a,
.markdown-body h2 a {
    font-weight: 800;
}
.markdown-body h1 a,
.markdown-body h2 a,
.markdown-body h3 a,
.markdown-body h4 a,
.markdown-body h5 a,
.markdown-body h6 a {
    color: #1a202c;
}
.markdown-body img {
    display: inline-block;
    height: auto;
    max-width: 100%;
}
@media (max-width: 640px) {
    .markdown-body h1,
    .markdown-body h2,
    .markdown-body h3,
    .markdown-body h4,
    .markdown-body h5,
    .markdown-body h6 {
        margin-bottom: 0.5rem;
    }
    .markdown-body p {
        margin-bottom: 1rem;
    }
    .markdown-body ol,
    .markdown-body ul {
        padding-left: 1.25rem;
    }
    .markdown-body pre {
        font-size: 0.75rem;
        overflow-x: auto;
    }
    .markdown-body table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }
}
.textarea__input {
    width: 100%;
    box-sizing: border-box;
    resize: vertical;
}
.markdown-body b {
    font-weight: 600;
}
.markdown-body i {
    font-style: italic;
}
.markdown-body details {
    margin-bottom: 16px;
    margin-top: 0;
}
.markdown-body details {
    border: .15rem solid var(--theme-color-background);
    border-radius: .5rem;
    padding: .5rem .5rem 0;
}
.markdown-body details summary {
    background-color: var(--theme-color-background);
    border-radius: .5rem;
    cursor: pointer;
    font-weight: 700;
    margin: -.5rem -.5rem 0;
    padding: .5rem .8rem;
}
.markdown-body details summary:hover {
    filter: brightness(0.85);
}
.markdown-body details[open] {
    padding: 0.5rem;
}
.markdown-body details[open] summary {
    border-radius: .25rem .25rem 0 0;
    margin-bottom: 0.5rem;
}
.markdown-body details[open] > :last-child:not(summary),
.markdown-body > :last-child {
    margin-bottom: 0 !important;
}