:root {
    --safe-tabbar-height: calc(var(--layout-tabbar-height) + env(safe-area-inset-bottom));
}
@-webkit-keyframes underlay-in {
    0% {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-webkit-keyframes modal-enter {
    0% {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: none;
    }
}
@-webkit-keyframes skeleton-loading {
    0% {
        opacity: 1;
    }
    to {
        opacity: 0.5;
    }
}
@keyframes skeleton-loading {
    0% {
        opacity: 1;
    }
    to {
        opacity: 0.5;
    }
}
:root {
    --safe-tabbar-height: calc(var(--layout-tabbar-height) + env(safe-area-inset-bottom));
}
@-webkit-keyframes underlay-in {
    0% {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-webkit-keyframes modal-enter {
    0% {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: none;
    }
}
.general-settings__account .icon {
    margin-right: 6px;
    flex-shrink: 0;
}
@media (hover: hover) {
    .general-settings__unlink-account-btn:hover {
        opacity: 1;
    }
}
@media (hover: hover) {
    .general-settings__link-account:hover {
        background: var(--theme-color-button-minimal-hover);
    }
}
