.news {
    max-width: 900px;
    margin: 40px auto;
}
.news-title {
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 20px;
}
.featured-article {
    overflow: hidden;
    margin-bottom: 24px;
    cursor: pointer;
    padding: 16px 0;
    background: var(--theme-color-popover-item-bg-active);
    box-shadow: 0 0 0 100vmax var(--theme-color-popover-item-bg-active);
    clip-path: inset(0 -100vmax);
    border-top: 1px solid var(--theme-sidebar-separator-color-background);
    border-bottom: 1px solid var(--theme-sidebar-separator-color-background);
}
.featured-article-link {
    display: block;
    text-decoration: none;
    color: inherit;
}
.featured-article-inner {
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}
.featured-article-inner img {
    border-radius: 16px;
    width: 50%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
}
.featured-content {
    display: flex;
    flex: 1 1 0%;
    flex-direction: column;
    gap: 8px;
    min-width: 256px;
}
.featured-label {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}
.featured-heading {
    font-size: 30px;
    font-weight: 800;
    line-height: 1.25;
}
.featured-desc {
    font-size: 18px;
    line-height: 1.25;
}
.featured-date {
    font-size: 16px;
    color: var(--theme-color-text-secondary);
    margin-top: auto;
}
.featured-article:hover img {
    transition: opacity .5s ease-in-out, filter .2s ease-in-out, scale .05s ease-in-out, outline .2s ease-in-out;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s;
    transition-property: all;
    filter: brightness(0.95);
}
.featured-article:hover h3 {
    text-decoration: underline;
}
.more-title {
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 20px;
}
.articles-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    gap: 16px;
}
.article {
    padding-bottom: 14px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
.article img {
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    border-radius: 16px;
}
.article h4 {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.25;
    margin: 12px 0 8px;
}
.article p {
    font-size: 14px;
    margin: 0 0 12px;
    line-height: 1.25;
    flex: 1;
}
.article span {
    color: var(--theme-color-text-secondary);
    font-size: 0.85rem;
    margin: 0 0;
}
@media (max-width: 700px) {
    .featured-article-inner {
        flex-direction: column;
    }
    .featured-article-inner img {
        width: 100%;
        height: 220px;
    }
}
.article:hover img {
    transition: opacity .5s ease-in-out, filter .2s ease-in-out, scale .05s ease-in-out, outline .2s ease-in-out;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s;
    transition-property: all;
    filter: brightness(0.95);
}
.article:hover h4 {
    text-decoration: underline;
}
.news-title--hover:hover {
    cursor: pointer;
    text-decoration: underline;
}
.latest-news {
    max-width: var(--layout-max-width);
    margin: 60px auto 20px auto;
    text-align: center;
}
.latest-title {
    font-size: 36px;
    line-height: 36px;
    font-weight: 800;
    margin-bottom: 30px;
}
.news-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 16px;
    margin-bottom: 32px;
}
.news-card {
    overflow: hidden;
    text-align: left;
}
.news-card img {
    width: 100%;
    aspect-ratio: 16 / 9;
    border-radius: 16px;
    object-fit: cover;
    pointer-events: none;
    margin-bottom: 12px;
}
.news-content {
    padding: 0;
}
.news-content h3 {
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.25;
}
.news-content p {
    font-size: 14px;
    line-height: 1.25;
    margin-bottom: 8px;
}
.news-content span {
    font-size: 14px;
    color: var(--theme-color-text-secondary);
    line-height: 1.25;
}
.view-all {
    display: flex;
    justify-content: center;
}
.news-card:hover .news-content h3 {
    text-decoration: underline;
}
@media (max-width: 859px) {
    .news {
        padding: 0 24px;
    }
    .featured-content {
        padding: 0;
        margin-top: 12px;
    }
}
.share-buttons {
    display: flex;
    gap: 8px;
    margin-bottom: 24px;
}
.share-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: var(--theme-color-button-secondary-shadow);
    background: var(--theme-color-button-secondary);
    color: var(--theme-color-text-primary) !important;
    transition: opacity .2s ease-in-out;
}
.share-btn:hover {
    opacity: 0.7 !important;
}
.share-btn svg {
    fill: none;
}
.copy-btn {
    position: relative;
    overflow: hidden;
}
.copy-btn:disabled {
    opacity: 0.7;
    cursor: not-allowed;
}
.news-page--title {
    font-size: 36px !important;
    line-height: 40px !important;
    margin-bottom: 20px !important;
    font-weight: 800 !important;
    border: 0px !important;
    padding-bottom: 0px !important;
}
.news-page--author {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    font-weight: 600 !important;
    font-size: 16px;
    text-decoration: none;
    color: inherit !important;
}
.news-page--author:hover {
    text-decoration: underline;
}
@media (max-width: 859px) {
    .latest-news {
        padding-left: 12px;
        padding-right: 12px;
    }
}