
@-webkit-keyframes skeleton-loading {
    0% {
        opacity: 1;
    }
    to {
        opacity: 0.5;
    }
}
@keyframes skeleton-loading {
    0% {
        opacity: 1;
    }
    to {
        opacity: 0.5;
    }
}
:root {
    --safe-tabbar-height: calc(var(--layout-tabbar-height) + env(safe-area-inset-bottom));
}
@-webkit-keyframes underlay-in {
    0% {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-webkit-keyframes modal-enter {
    0% {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: none;
    }
}
.notifications-settings .checkbox {
    display: block;
}
.notifications-settings .checkbox:not(:last-child) {
    margin-bottom: 8px;
}
