.notifications-settings-skeleton {
    will-change: opacity;
    -webkit-animation: skeleton-loading 1s linear alternate infinite;
    animation: skeleton-loading 1s linear alternate infinite;
}
@-webkit-keyframes skeleton-loading {
    0% {
        opacity: 1;
    }
    to {
        opacity: 0.5;
    }
}
@keyframes skeleton-loading {
    0% {
        opacity: 1;
    }
    to {
        opacity: 0.5;
    }
}
.notifications-settings-skeleton {
    padding: 24px var(--layout-content-offset-x) 0 var(--layout-content-offset-x);
}
.notifications-settings-skeleton__title {
    margin-bottom: 30px !important;
}
.notifications-settings-skeleton__title:not(:first-child) {
    margin-top: 50px;
}
.notifications-settings-skeleton__item:not(:last-child) {
    margin-bottom: 30px !important;
}
:root {
    --safe-tabbar-height: calc(var(--layout-tabbar-height) + env(safe-area-inset-bottom));
}
@-webkit-keyframes underlay-in {
    0% {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes underlay-in {
    0% {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-webkit-keyframes modal-enter {
    0% {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: none;
    }
}
@keyframes modal-enter {
    0% {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: none;
    }
}
.notifications-settings__body {
    padding: 20px var(--layout-content-offset-x) 0 var(--layout-content-offset-x);
}
.notifications-settings__title {
    color: var(--theme-color-text-primary);
    font-weight: 500;
    margin-bottom: 12px;
}
.notifications-settings__title:not(:first-child) {
    margin-top: 32px;
}
.notifications-settings__title {
    font-size: 17px;
    line-height: 24px;
}
.notifications-settings .checkbox {
    display: block;
}
.notifications-settings .checkbox:not(:last-child) {
    margin-bottom: 8px;
}
